* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    max-width: 100;
    color: white;
    background-color: rgb(66, 112, 153);
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;

}

.painel {
    background-color: rgb(64, 91, 114);
    border-radius: 10px;
    padding: 10px;
    margin-top: 200px;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visor-principal {
    background-color: black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 20% black;
}

.indicador-alerta {
    background-color: rgb(255, 0, 0);
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    animation: piscando 2s infinite alternate;
    animation: mudando-a-cor 2s infinite alternate;
}

@keyframes mudando-a-cor {
    0% {
        background-color: rgb(255, 0, 0);
    }

    50% {
        background-color: rgb(221, 56, 56);
    }

    100% {
        background-color: rgb(126, 43, 43);
    }
}

.botoes-container {
    display: flex;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding: 20px;
}

.botao {
    border: solid black 1px;
    background-color: rgb(80, 71, 71);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.botao:hover {
    background-color: black;
}

.botao:active {
    transform: translateY(1px);
}

.ajuda-flutuante {
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.ajuda-flutuante:hover {
    background-color: rgb(0, 23, 231);
}


.info-nave {
    background-color: black;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    align-items: left;
    justify-content: left;
    box-shadow: 20% black;
}